@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Fira+Code&display=swap');


body{
    background-color: rgb(5, 5, 5);
    color: #FFFFFF;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 29px;
}

img{
    display: inline-block;
    margin-right: 4px;
}

main{
    background-color: rgb(11, 11, 11);
    margin: auto;
    width: 850px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00000055;
    text-align: center;
}

#links-list{
    font-size: 17px;
    font-weight: normal;
    color: #38fd9ac3;
    padding: 1.1px;
}

.internal-links{
    display: inline-block;
    color: #38fd9ac6;
    font-weight: bold;
    text-decoration: underline;
    font-size: 19px;
}

.logos{
    width: 15px;
    height: 15px;
}

.title{
    font-family: 'Coda';
    color: #38fd9ac6;
}

.text{
    font-family: 'Fira Code';
}